@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: "Paperlogy-8ExtraBold";
}

.dropdown {
  width: fit-content;
  display: flex;
  flex-direction: column;

  margin: 100px;
}

#click {
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 10px;

  background-color: white;
  font-size: larger;
}

#linkList {
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 30px;

  display: none;
  flex-direction: column;
}
